body{
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #849d8f;
}
h1{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 60.35px;
    color: #ffffff;
}
h2{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
}

/* COMMON */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 860px;
    padding: 0 20px;
    margin: 0 auto;
}

/*
=========================================
                HEADER 
=========================================
*/
.main-header{
    z-index: 2;
}
.header-title{
    margin-top: 10px;
}
.logo{
    float: left;
    width: 155px; 
    padding-right: 15px;
}
.header-menu{
    float: left;
    width: 425px;
}
.navigation{
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 0;
}
.navigation li{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}
.navigation a{
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
.navigation a:hover{
    background: #f7f6f3;
    padding: 5px 10px;
    border-radius: 15px;
    color: #333333;
    text-decoration: none;
}
.navigation a:active{
    background: #ededed;
    padding: 5px 10px;
    border-radius: 15px;
    color: #333333;
    text-decoration: none;
    box-shadow: inset 0 1px 1px 1px #686868;
}
/*
=====================
    USER-BLOCK
=====================
*/
.user-block{
    float: left;
    width: 265px;
    margin-top: 10px;
    font-size: 0px;
}
.user-block div{
    float: left;
    margin-right: 9px;
}
.user-block div:last-child{
    margin-right: 0;
}
/*
============
SEARCH
============
*/
.search{
    position: relative;
    display: block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #a1b5a9 url("../img/header_search.png") no-repeat center;
}
.search:hover{
    background: #f8f7f4 url("../img/icon_search_black.png") no-repeat center;
}
.form-field{
    display: none;
    position: absolute;
    z-index: 2;
    top:115%;
    right: 0;
    padding: 15px;
    background: #f8f7f4;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 10px 30px 8px #4f5e56;
}
.search:hover .form-field{
    display: block;
}
.search-model{
    width: 290px;
    padding: 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
/*
==========
LOGIN
==========
*/
.login-form{
    margin-top: 5px;
    position: relative;
}
.login{
    padding: 7px 15px 7px 45px;
    border-radius: 20px;
    background: #a1b5a9 url("../img/header_login.png") no-repeat 17px center;
    color: #ffffff;
    font-size: 15px; 
    font-weight: 500;
}
.login:hover{
    color: #323232;
    background: #f8f7f4 url("../img/icon-login-black.png") no-repeat 17px center;
}
.form-field-login{
    display: none;
    position: absolute;
    z-index: 2;
    top:120%;
    right: 0;
    padding: 15px;
    background: #f8f7f4;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 10px 30px 8px #4f5e56;
}
.login-form:hover .form-field-login{
    display: block;
}
.mail-model{
    width: 220px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.form-field-login .btn{
    float: left;
    border: none;
    font-weight: 700;
    padding: 8px 30px 8px 30px;
}
.login-help{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
.login-help a{
    font-size: 13px;
    color: #333333;
}
.login-help a:hover{
    color: #ec593c;
}

/*
==========
CARD
==========
*/
.card-form{
    position: relative;
    margin-top: 5px;
}
.card{
    padding: 7px 30px 7px 45px;
    border-radius: 20px;
    background: rgba(248, 247, 244, 0.2) url("../img/header_cart.png") no-repeat 17px center;
    color: #ffffff;
    font-size: 15px; 
    font-weight: 500;
}
.card:hover{
    background: rgba(248, 247, 244, 0.2) url("../img/card-black.svg") no-repeat 17px center;
    color: #323232;
}
.card-field{
    position: absolute;
    display: none;
    z-index: 2;
    top:120%;
    right: 0;
    padding: 20px 15px;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 1px 10px 30px 8px #4f5e56;
}
.card-content{
    width: 510px;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    border-bottom: 1px solid #cacac7;
}
tr span{
    color: #7f7f7f;
}
.card-content td{
    padding-right: 10px;
    padding-bottom: 15px;
    vertical-align: top;
}
.item-delete{
    width: 18px;
    height: 18px;
    background: url("../img/item-delete.svg") no-repeat center 10px;
}
.item-name{
    width: 230px;
}
.card-field p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    text-align: right;
}
.card-field .btn{
    font-size: 15px;
    font-weight: 700;
}
.card-field .card-total{
    float: right;
}
.card-form:hover .card-field{
    display: table;
}
/*
=====================
CONTACTS
=====================
*/
.header-contacts{
    text-align: right;
}
.header-contacts p{
    margin: 0;
    font-size: 14px;
}
.header-contacts b{
    display: inline-block;
    font-size: 22px;
    margin: 0;
    margin-top: 5px;
}
/*
==================================================================
                            MAIN
==================================================================
*/
/*
=====================
       SLIDER
=====================
*/
.slider{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    background: radial-gradient(circle closest-side at 50% 50%, rgba(205, 243, 222, 1), rgba(205, 243, 222, 0));
}
.slider p{
    text-align: center;
}
.slider h1{
    position: absolute;
    top: 270px;
    text-align: center;   
}
.slider .btn{
    position: absolute;
    top: 460px;
    left: 300px;
    font-size: 32px;
    font-weight: 700;
    padding: 17px 35px;
    border-radius: 30px;
}
.slider-switch{
    position: absolute;
    top: 485px;
    min-width: 80px;
    font-size: 0;
}
.slider-switch a{
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 8px;
}
.slider-switch .active{
    background: #fff;
}
.special-offer{
    margin-top: -40px;
    margin-bottom: 40px;
}
.special-offer-content{
    width: 380px;
    min-height: 185px;
    padding: 20px;
    padding-top: 25px;
    border-radius: 15px;
}
.special-offer-content h3{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}
.special-offer-content p{
    font-size: 18px;
    font-weight: bold;
}
.special-offer-content a{
    font-size: 18px;
    font-weight: bold;
}
.special-offer-content .btn{
    float: right;
}
.special-offer-left{
    float: left;
    background-image: url("../img/index_img1.jpg");
}
.special-offer-right{
   float: right;
    background-image: url("../img/index_img2.jpg");
}
.btn{
   padding: 9px 20px 9px 20px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(#f26843, #e74b36);
    box-shadow: 0 1px 2px 0 #9e4334;
}
.btn:hover{
    background-image: linear-gradient(#f58669, #ec6f5e);
    box-shadow: 0 1px 2px 0 #ac1000;
}
.btn:active{
    background-image: linear-gradient(#e74b36, #f26843);
    box-shadow: inset 0 1px 2px 0 #952718;
} /*
==================
MAIN-DECSRIPTION
==================
*/
.main-description{
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 15px;
    background-image: url("../img/index_features_bg.jpg");
}
.main-description h4{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #323232;
}
.features{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.feature-description p{
    margin-bottom: 0;
}
.features li{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-left: 55px;
    margin-right: 15px;
    color: #323232;
    font-size: 16px;
}
.features li:nth-child(2n){
    margin-right: 0px;
}
.feature_1{
    background: url("../img/icon_icecream.svg") no-repeat;
}
.feature_2{
    background: url("../img/icon_leaf.svg") no-repeat;
}
.feature_3{
    background: url("../img/icon_cow.svg") no-repeat;
}
.feature_4{
    background: url("../img/icon_grad.svg") no-repeat;
}
/*
==================
PROMOTION
==================
*/
.promotion{
}
.content{
    width: 380px;
    min-height: 170px;
    padding: 25px 20px;
    border-radius: 20px;
}
.promotion-news{
    float: left;
    background-image: url("../img/index_news_bg.jpg");
    background-repeat: no-repeat;
    background-position: -20px -220px;
}
.promotion-title{
    font-size: 16px;
    font-weight: 500;
    color: #5a5a5a;
}
.news-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #353535;
    background: rgba(255, 255, 255, 0.8);
}
.promotion-mail{
    float: right;
    background-image: url("../img/index_mail_bg.png");
    background-repeat: no-repeat;
    width: 360px;
    padding: 35px 30px;
}
.promotion-mail p{
    margin-top: 0;
    font-size: 16px;
    font-weight: 400px;
    color: #5a5a5a;
}
.mail-form input{
    float: left;
    width: 200px;
    padding: 13px 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.mail-form .btn{
    float: right;
    border: none;
    font-size: 17px;
    font-weight: 700;
    padding: 13px 20px;
    border-radius: 30px;
}
.contact-info{
    width: 900px;
    height: 430px;
    margin-top: 40px;
}
.catalog-title{
    margin-top: -20px;
    margin-bottom: 30px;
}
.breadcrumbs{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 0;
}
.breadcrumbs li{
    display: inline-block;
    padding-right: 7px;
}
.breadcrumbs a{
     font-size: 14px;
    color: #ffffff;
}
.breadcrumbs span{
    font-size: 14px;
}

/*============================
FILTERS
============================
*/
.form{
    margin-bottom: 40px;
    font-size: 0;
    line-height: 0;
}
.filter{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 14px;
    margin-bottom: 17px;
}
.filter p{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 16px;
    margin-bottom: 8px;
    color: #fcfcfc;
}
.filter-select{
    background: rgba(255, 255, 255, 0.2);
    padding: 7px 13px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    color: #fcfcfc;
}
/*
==========
FILTER-POPULARITY
==========
*/
.filter-popularity{
    width: 185px;
    cursor: pointer;
}
.filter-popularity:hover{
    background: rgba(255, 255, 255, 1);
    color: #343434;
}

/*
==========
FILTER-PRICE
==========
*/
.filter-price{
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
}
.filter-line{
    width: 188px;
    height: 4px;
    background: #d1d9d2;
    margin: 10px 0;
}
.round{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f8f7f4;
    cursor: pointer;
}
.round.min{
    left: 35px;
    top: 9px;
}
.round.max{
    left: 132px;
    top: 9px;
}
/*
==========
FILTER-FAT
==========
*/
.radio-label input[type="radio"]{
    display: none;
}
.radio-label{
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.radio-label:last-child{
    margin-right: 0px;
}
.radio-label input[type="radio"] + .radio-indicator{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.radio-label input[type="radio"] + .radio-indicator:hover{
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
}
.radio-label input[type="radio"]:checked + .radio-indicator::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 4px;
    border-radius: 50%;
    background: #ffffff;
}
.radio-label input[type="radio"]:checked + .radio-indicator:hover::before{
    margin: 3px;
}
/*
===========
FILTER-FILLING
===========
*/
.filter-filling input[type="checkbox"]{
    display: none;
}
.checkbox-label{
    position: relative;
    padding-left: 32px;
    margin-right: 20px;
    cursor: pointer;
}
.checkbox-label:last-child{
    margin-right: 0;
}
.checkbox-label input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top:-1px;
    left:0;
    width: 18px;
    height: 18px;
    background: #a6b7ad;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.checkbox-label input[type="checkbox"] + .checkbox-indicator:hover{
    width: 16px;
    height: 16px;
    background: #a6b7ad;
    border: 2px solid #ffffff; 
}
.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator{
    position: absolute;
    background-image: url("../img/checkbox-on.png");
    background-repeat: no-repeat;
    background-position: center center;
}
/*
======
BUTTON-APPLY
======
*/
.filter-apply{
    padding: 6px 30px;
    border: 2px solid #fff;
    cursor: pointer;
}
.filter-apply:hover{
    background: rgba(255, 255, 255, 1);
    color:#343434;
}
.filter-apply:active{
    border: none;
    background: #eaeaea;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: inset 0 1px 1px 1px #6c6d6c;
    color: #383939;
}
/*
=============================
PRODUCTS
=============================
*/
.products{
    margin: 0 -10px;
    font-size: 0;
    line-height: 0;
}
.hit{
    font-size: 0;
    line-height: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 40px;
}
.product-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 10px 0 10px;
    margin-bottom: 5px;
}
.product-price{
    position: absolute;
    top: 150px;
    font-size: 30px;
}
.product-price span{
    font-size: 45px;
    padding-right: 35px;
    background-image: url("../img/rub.svg");
    background-repeat: no-repeat;
    background-position: center right;
}
.product-title{
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.product-title:hover{
    color: #ffbc9e;
}
.product-item:nth-child(4n){
    margin-right: 0;
}
.item-preview{
    display: none;
}
.product-item:hover .item-preview{
    display: block;
    position: absolute;
    z-index: 2;
    width: 190px;
    padding: 25px 15px 25px 15px;
    margin-left: -10px;
    background: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.product-item:hover{
    background: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.article{
    position: relative;
}
.item-hit{
    position: absolute;
    top: 10px;
    left: 10px;
}
/*
===================
PAGINATOR
===================
*/
.paginator{
    position: relative;
    min-width: 145px;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: right;
}
.pages{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.pages li{
    display: inline-block;
}
.pages a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 6px 11px;
}
.pages a:hover{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.pages a:active{
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: #353535;
}
.prev{
    width: 10px;
    height: 14px;
    padding-right: 15px;
    background: url("../img/prev.svg") no-repeat center center;
}
.next{
    width: 10px;
    height: 14px;
    padding-left: 15px;
    background: url("../img/next.svg") no-repeat center center;
}
.contact-info{
    margin-right: auto;
    margin-left: auto;
}

/*FOOTER*/
.main-footer{
}
footer .container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #a9bbb1;
}
.footer-social{
    float: left;
    width: 255px;
    min-height: 41px;
}
.social-btn{
    display: inline-block;
    margin-right: 12px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #c2cec7;
    font-size: 0;
    line-height: 0;
}
.social-btn.tw{
    background-image: url("../img/tw.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.social-btn.ig{
    background-image: url("../img/ig.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.social-btn.fb{
    background-image: url("../img/fb.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.social-btn.vk{
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-about-us{
    float: left;
    width: 375px;
}
.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.footer-menu li{
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
}
.footer-about-us a{
    font-size: 13px;
    color: #ffffff;
    padding-left: 30px;
}
.footer-about-us a:hover{
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    font-weight: bold;
}
.footer-copyright{
    float: right;
    width: 188px;
    padding-left: 12px;
}
.footer-copyright p{
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}
.footer-copyright a{
    font-size: 12px;
    color: #ffffff;
}


