body{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    width: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #849d8f;
}
h1{
    font-family: Roboto Black;
    /* font-weight: black;*/
    font-size: 60px;
    line-height: 60.35px;
    color: #ffffff;
}
h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
}

/* COMMON */

.clearfix{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 95.4%;
    margin: 0 auto;
    padding: 0 2.3%;
}

/*HEADER */

.header-menu{
    float: left;
    width: 64.4%;
    height: 75px;
}
.user-block{
    float: right;
    width: 30%;
    height: 75px;
}
.user-block button{
    margin:25px 1%;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 13px;
    font-size: 14px;
}
.user-block .search{
    padding: 10px;
    background: url("../img/header_search.png") no-repeat;
    
}
.header-contacts{
    float: right;
    width: 30%;
    height: 45px;
    text-align: right;
}
.breadcrumbs{
    float: left;
    width:  64.4%;
    height: 45px;
}
.navigation ul{
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 0;
    line-height: 0;
}
.navigation li{
    display: inline-block;
    padding-right: 2.3%;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: middle;
}
.navigation a{
    color: #ffffff;
    padding: 5px;
}

/* MAIN */
.main-content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.special-offer{
    position: relative;
    margin-top: -120px;
    margin-bottom: 40px;
}
.slider{
    position: relative;
    min-height: 838px;
}
.special-offer-content{
    position: absolute;
    width: 46.66%;
    min-height: 230px;
}
.special-offer-left{
    bottom: 0;
    left: 0;
}
.special-offer-right{
    bottom: 0; 
    right: 0;
}
.hit{
    width: 100%;
    font-size: 0;
    line-height: 0;
}
.product-item{
    display: inline-block;
    vertical-align: top;
    width: 22.2%;
    min-height: 276px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 3.7%; 
    margin-bottom: 40px;
}
.product-item:nth-child(4n){
    margin-right: 0;
}
.main-description{
    min-height: 372px;
    margin-bottom: 40px;
}
.promotion{
    width: 100%;
}
.content{
    width: 46.6%;
    min-height: 220px;
}
.promotion-news{
    float: left;
}
.promotion-mail{
    float: right;
}
.contact-info{
    width: 100%;
    height: 430px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.catalog-title{
    min-height: 35px;
    width: 100%;
    margin-bottom: 30px;
}
form{
   width: 100%;
    min-height: 133px;
    margin-bottom: 40px;
    font-size: 0;
    line-height: 0;
}
.filter{
    display: inline-block;
    min-height: 60px;
    width: 190px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 24px;
}
.products{
    width: 100%;
    min-height: 276px;
    font-size: 0;
    line-height: 0;
}
.paginator{
    display: inline-block;
    width: 100%;
    min-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

/*FOOTER*/
.main-footer{
    min-height: 100px;
}
.footer-social{
    float: left;
    width: 24.5%;
    min-height: 41px;
    margin-top: 20px;
}
.footer-about-us{
    float: left;
    width: 46.6%;
    min-height: 41px;
    margin-top: 20px;
}
.footer-copyright{
    float: right;
    width: 22.2%;
    min-height: 61px;
    margin-top: 20px;
}
